Options -Indexes
Options -MultiViews
RewriteEngine On

# Removimos RewriteBase / para que funcione correctamente en subcarpetas locales

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]